PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/senora_db?retryWrites=true&w=majority
WHATSAPP_NUMBER=9152190233
ADMIN_EMAIL=admin@senoraco.in
ADMIN_PASSWORD=senora2026
